:root {
  --color-primary: #1e213f;
  --color-primary-dark: #161932;
  --color-font-display: #d7e0ff;
  --color-font-display-active: var(--color-primary);
  --color-settings-bg: #fff;
  --color-font-settings: #161932;
  --color-font-settings-sec: #1e213f;
  --color-settings-btn: #f87070;
  --color-settings-stroke: #e3e1e1;
  --color-settings-input: #eff1fa;
  --color-settings-themes-1: #f87070;
  --color-settings-themes-2: #70f3f8;
  --color-settings-themes-3: #d881f8;
  --color-shadow-top: #272c5a;
  --color-shadow-bottom: #121530;
  --alpha: 0.4;
}

.theme-1 {
  --color-theme: #f87070;
}

.theme-2 {
  --color-theme: #70f3f8;
}

.theme-3 {
  --color-theme: #d881f8;
}

.font-1 {
  font-family: "Kumbh Sans", sans-serif;
}

.font-2 {
  font-family: "Roboto Slab", serif;
}

.font-3 {
  font-family: "Space Mono", monospace;
}

.heading-1 {
  font-size: 9vw;
  letter-spacing: -0.3rem;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.heading-1::selection {
  background-color: transparent;
}

.heading-2 {
  display: inline-block;
  font-size: 2.8rem;
}
.heading-2::selection {
  background-color: transparent;
}

.heading-3 {
  font-size: 1.6rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}
.heading-3::selection {
  background-color: transparent;
}

.heading-4 {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  display: inline-block;
}
.heading-4::selection {
  background-color: transparent;
}

.body-1 {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0;
}
.body-1::selection {
  background-color: transparent;
}

.body-2 {
  display: inline-block;
  font-size: 1.2rem;
}
.body-2::selection {
  background-color: transparent;
}

.pomodor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);

  color: var(--color-font-display);
  position: relative;
}

button {
  border: none;
  background-color: transparent;
}

.header__logo {
  width: 15.3rem;
  height: 3.2rem;
  fill: #d7e0ff;
}

.hidden {
  display: none;
}

.modus-switch {
  display: flex;
  padding: 0.7rem;
  justify-content: center;
  border-radius: 42rem;
}

.btn {
  padding: 1.8rem 2.3rem;
  margin: 0.3rem;

  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
}

.btn--active {
  background-color: var(--color-theme);
  color: var(--color-primary);
}

.timer {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34vw;
  height: 34vw;
  border-radius: 50%;
  filter: drop-shadow(-5rem -5rem 10rem var(--shadow));
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-family: inherit;
  color: inherit;
  margin: 0 auto;
}

.timer::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right bottom, #ffffff, #aeaeae);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* -webkit-filter: drop-shadow(5rem 5rem 10rem var(--color-shadow-bottom)); */
  /* filter: drop-shadow(5rem 5rem 10rem var(--color-shadow-bottom)); */
  z-index: -10;
  transition: all 0.2s;
}
.timer__inner {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 89%;
  width: 89%;
  border-radius: 50%;
  background-color: var(--soft);
  position: relative;
  transition: all 0.4s;
  font-family: inherit;
  color: inherit;
}
.timer__circle {
  position: absolute;
  height: 100%;
  width: 100%;
  stroke: var(--primary);
  stroke-width: 1rem;
  stroke-linecap: round;

  fill: none;
}
.timer__time {
  display: flex;
}
.timer__time > h1 {
  display: block;
}
.timer__status {
  transform: translateX(0.75rem);
  transition: all 0.3s;
}

.font-label,
.color-label {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-font-display);
  transition: all 0.2s;
  cursor: pointer;
}
.font-label svg,
.color-label svg {
  display: none;
  width: 2.2rem;
  height: 1.66rem;
  transition: all 0.2s;
}
.font-label:focus,
.color-label:focus {
  outline: 1px solid var(--color-font-display);
  outline-offset: 4px;
}

.color-label-1 {
  background-color: var(--color-settings-themes-1);
}

.color-label-2 {
  background-color: var(--color-settings-themes-2);
}

.color-label-3 {
  background-color: var(--color-settings-themes-3);
}

.relative {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.btn--settings {
  font-family: inherit;
  background-color: var(--color-settings-btn);
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: inline-block;
  color: var(--color-settings-bg);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.icons {
  transition: all 0.1s;
}
.icons:hover {
  transform: scale(1.2);
}

#pomodoro-up {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  top: 1.1rem;
}
@media only screen and (min-width: 40em) {
  #pomodoro-up {
    top: 3rem;
  }
}

#pomodoro-down {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  bottom: 1.1rem;
}

#short-break-up {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  top: 1.1rem;
}
@media only screen and (min-width: 40em) {
  #short-break-up {
    top: 3rem;
  }
}

#short-break-down {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  bottom: 1.1rem;
}

#long-break-up {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  top: 1.1rem;
}
@media only screen and (min-width: 40em) {
  #long-break-up {
    top: 3rem;
  }
}

#long-break-down {
  width: 1.7rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  bottom: 1.1rem;
}

@media only screen and (min-width: 40em) {
  .relative {
    flex-direction: column;
    gap: 0.5rem;
  }
  .settings__menu__form-group {
    flex-direction: row;
  }
  .settings__menu__form-group-1 {
    grid-template-columns: repeat(3, 1fr);
  }
  #times-heading {
    display: block;
    justify-self: self-start;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .time-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .time-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .time-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  #pomodoro-time {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #short-break {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  #long-break {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}
